<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
<main>
    <div>
        <h1>{{todo_list.name}}</h1>
        <p> <a href="{% url "edit_todo" todo_item.id %}"> Edit </a></p>
        <p> <a href="{% url "delete_todo" todo_item.id %}"> Delete </a></p>

        <h2>Tasks</h2>
    </div>

    <table>
        <thead>
            <tr>
                <th> # </th>
                <th>Name</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in todo_item.items.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'edit_todo_item' item.id %}">{{ item.task }}</a></td>
                    <td>{{ item.due_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

</body>
</html>
