<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
<h1> My Lists </h1>
<p> <a href="{% url "create_todo" %}"> Create a todo list </a>
    <p> <a href="{% url "create_todo_item" %}"> Create a new item </a>

<table>
    <thead>
        <th>
            Name
        </th>
        <th>Number of Items
        </th>
    </thead>


</table>

<table>

    <ul>
        {% for todo in todos %}
       <li>  <a href="{% url 'detail_todo' todo.id %}"> {{ todo.name }} </a></li>
        {% endfor %}
       </ul>
</table>
        </div>
    </main>
</body>
</html>
